<%= render 'devise/shared/error_messages' %>
<div class="row">
<div class="jumbotron jumbotron-extend">
  <h1>やることリスト</h1>
  <p class="lead text-muted">ここは、TODOリストが作れるところ</p>
</div>
  <div class="row">
    <div class="box">
      <div class="col-sm-3 col-sm-offset-3">
        <%= link_to "新規登録" , new_user_registration_path, class: "btn btn-lg btn-primary btn-block" %>
      </div>
    </div>
    <div class="box">
      <div class="col-sm-3">
        <%= link_to "ログイン" , new_user_session_path, class: "btn btn-lg btn-default btn-block" %>
      </div>
    </div>
  </div>
</div>
