<% provide(:title, current_user.email)%>
<div class="row">
  <div class="col-md-12">
    <p class="h2"><%= current_user.email %></p>
    <hr>
  </div>
</div><div class="row">
  <aside class="col-lg-3 visible-lg">
    <%= render 'layouts/user_info' %>
  </aside>
  <div class="col-lg-9">
    <div class="center_column">
      <h2 class="h2">期限ぎれのこと</h2>
      <hr>

      <% if @expired_todos.any? %>
        <%= render partial: 'layouts/todo_list', locals: { todos: @expired_todos } %>
        <% else %>
        <p>期限が過ぎているTodoはありません</p>
      <% end %>
    </div>
  </div>
</div>
