<%= render 'devise/shared/error_messages' %>
<h2><%= @current_user.email %></h2>
<p>前回ログイン日時: <%= @current_user.last_sign_in_at.in_time_zone('Tokyo') %></p>
<p>ログイン回数: <%= @current_user.sign_in_count %>回</p>
