<% provide(:title, current_user.email)%>
<%= render 'devise/shared/error_messages' %>
<div class="row">
  <aside class="col-md-3">
    <%= render 'layouts/user_info' %>
  </aside>
  <div class="col-md-9">
    <div class="center_column">
      <h2 class="h2">完了していないやること</h2>
      <hr>
      <% if @before_work_todos.any? %>
        <%= render partial: 'layouts/todo_list', locals: { todos: @before_work_todos } %>
      <% else %>
        <p>完了していないTodoはありません。</p>
      <% end %>
    </div>
  </div>
</div>
