@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray: #777;
$background-color: #FAFAFA;
$height-footer: 30px;
// mixin
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


// 共通

body {
  background: $background-color;
  color: #333333;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

i {
  font-style: normal;
}

.center {
  text-align: center;
  .h1 {
    margin-bottom: 10px;
  }
}

// その他
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

// タイポグラフィー

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

h3 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

// header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #383838;
    text-decoration: none;
  }
  img {
    height: 50px;
    width: auto;
  }
}

.navbar {
  background-color: $background-color;
  border-bottom: 1px solid #B7B7B7;

}

// footer
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// sidebar
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h2 {
      text-align: left;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      margin-top: 15px;
      padding-left: 0px;
      li {
        color: #fff;
        background: #4169e1;
        margin-bottom: 10px;
        box-shadow: 4px 2px 1px rgba(0,0,0,0.7);
        border-radius: 3px;
        span {
          margin-right: 3px;
        }
      }
      a {
        display: block;
        padding: 10px 10px;
        transition: 0.5s linear;
        &:hover {
          background: #191970;
          transition: 0.4s linear;
        }
      }
    }
  }
}

@media screen and (max-width:992px) {
  aside {
    ul {
      li {
        text-align: center;
      }
    }
  }
}

// エラーメッセージ

#error_explanation {
  @extend .has-error;

  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// ジャンボトロン

.jumbotron {
  background-color: $background-color;
}


// ボタン

.btn-downy {
  color: #F5F5F5;
  background-color: #93B8CA;
}
