@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray: #777;
$background-color: #FAFAFA;
$height-footer: 30px;

// mixin
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// 共通

body {
  font-family: 'Noto Sans Japanese', arial, sans-serif;
  background: $background-color;
  color: #333333;
}

section {
  overflow: auto;
}
arial, sans-serif
textarea {
  resize: vertical;
}

i {
  font-style: normal;
}

span {
  display: inline-block;
  padding-right: 15px;
}

// その他
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

// タイポグラフィー

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  letter-spacing: -1.5px;
  text-align: center;
  font-size: 1.8em;
  font-weight: normal;
}

h3 {
  font-size: 1.4em;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
}

a, a:hover, a:focus {
    color: inherit;
    transition: all 0.3s;
}

a:hover {
  text-decoration: underline;
}

// header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #363947;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $light-gray;
    text-decoration: none;
  }
  img {
    height: 50px;
    width: auto;
  }
}

.navbar {
  background-color: $background-color;
  border-bottom: 1px solid #B7B7B7;
}

// sidebar
aside {
  section.user_info {
    padding-right: 10px;
  }
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h2 {
      text-align: left;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      margin-top: 15px;
      padding-left: 0px;
      li {
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(218, 218, 218);
        span {
          margin-right: 3px;
        }
      }
      a {
        display: block;
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width:992px) {
  aside {
    text-align: center;
    section {
      ul {
        width: auto;
        li {
          text-align: left;
        }
      }
    }
  }
}

// 右カラム
.extra_info {
  h2 {
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 5px;
  }
  .extra-info-title {
    font-size: 1.6em;
    text-align: left;
    margin-top: 27px;
    margin-bottom: 10px;
  }
}

// エラーメッセージ

#error_explanation {
  @extend .has-error;

  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// ジャンボトロン

.jumbotron-extend {
  text-align: center;
  background-color: $background-color;
}


.box {
  margin-top: 15px;
}



//　センターカラム

.center_column {
  h2 {
    text-align: left;
    margin-bottom: 10px;
  }
  .panel-heading {
    color: #ffffff;
  }
  .btn-task {
    border: solid 1px #54a0e6;
    transition: 0.3s linear;
    border-radius: 3px;
    &:hover {
      border: none;
      color: #fff;
      background: #54a0e6;
      transition: 0.3s linear;
    }
  }
  .btn-edit {
    border: solid 1px #1043de;
    transition: 0.3s linear;
    border-radius: 3px;
    &:hover {
      border: none;
      color: #fff;
      background: #1043de;
      transition: 0.3s linear;
    }
  }
  .btn-delete {
    border: solid 1px #ff6161;
    transition: 0.3s linear;
    border-radius: 3px;
    &:hover {
      border: none;
      color: #fff;
      background: #ff6161;
      transition: 0.3s linear;
    }
  }
  .btn-task-del {
    background: #fff;
    border: solid 1px #ff2929;
    transition: 0.3s linear;
    &:hover {
      color: #fff;
      background: #ff2929;
      transition: 0.3s linear;
    }
  }
  .panel-default > .panel-heading {
    background-color: #8c8c8c;
  }

  .panel-footer {
    background-color: #fff;
    border-top: 0;
  }
}

.todos {
  h2 {
    text-align: left;
    margin-bottom: 10px;
  }
  .panel-heading {
    color: #ffffff;
  }
  .btn-task {
    border: solid 1px #cbcbcb;
    transition: 0.3s linear;
    border-radius: 3px;
    &:hover {
      border: none;
      color: #fff;
      background: #54a0e6;
      transition: 0.3s linear;
    }
  }
  .btn-task-del {
    background: #fff;
    border: solid 1px #ff2929;
    transition: 0.3s linear;
    &:hover {
      color: #fff;
      background: #ff2929;
      transition: 0.3s linear;
    }
  }
  .panel-default > .panel-heading {
    background-color: #8c8c8c;
  }

  .panel-footer {
    background-color: #fff;
    border-top: 0;
  }
}


.card {
  background-color: white;
  margin-top: 25px;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px rgb(186, 186, 186);
  span {
    margin-top: -70px;
  }
  }

  .text-danger {
    color: rgb(254, 67, 67);
  }

  .text-success {
    color: rgb(66, 168, 79);
  }

  .alert {
    border-radius: 0px;
  }

  .card {
    border-radius: 2px;
    border: solid 1px #dedede;
  }
